body
{
    background-image: url('../images/SCCUM-BG-.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#droppable
{
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
}

#draggable
{
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

.expandTD 
{
   font-size:medium;
   background-color:White;
}

.revertTD 
{
    width: 70px;
    height: 70px;
}

td {
  vertical-align: top;
}